<style>
  .container {
    width: 50rem;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png">
  <span>Oi, {{name}}</span>

  <br/>

  <span>Você solicitou alteração de senha.</span>
  <span>para realizar a troca, clique no link
    <a href={{link}}>{{link}}</a>
  </span>

  <span>Caso não tenha solicitado, basta ignorar este email.</span>

  <strong>Obrigado</strong>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>